body {

    background-color: #040404;
    color: #e0e0e0;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    margin: 20px;
    line-height: 1.6;
}

input[type="number"] {
    width: 80px;
    padding: 6px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #2a2a2a;
    color: #fff;
}

.btn {

    background-color: #b00;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1565c0;
}


table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
    background-color: #1e1e1e;
    color: #fff;
}

td,
th {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #2c2c2c;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.controls label {
    margin-right: 15px;
    font-weight: bold;
}

.msg {
    margin-top: 10px;
    color: #ff4c4c;
    font-weight: bold;
}

.btn:active {
    background-color: #0d47a1;
}

.clickable {
    cursor: pointer;
    background: #2a2a2a;
    transition: background 0.3s ease;
}

.clickable:hover {
    background: #4d4c4c;
}

.step-button {
    background-color: #f30707;
    border: 1px solid #f4f0f0;
    padding: 10px 16px;
    margin: 5px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.step-button:hover {
    background-color: #e0e0e0;
}